.background{
    background-size: cover;
    background-position : center;
    background-color: lime;
    background-image:url("bg1-jpg");
}
h1{
    font-family: monospace;
    color: cyan;
}
#canvas{
    border: solid blue;
    border-width: 3px;
    border-style: ridge;
    background-color: white;
}